.App > h1 {
    text-align: center;
    font-size: 3em;
}
.Weather {
    display: flex;
    justify-content: space-evenly;
    gap: 1vmin;
}
.WeatherDay {
    width: 12.5%;
    padding: 0 2.5vmin;
    border: 1px solid silver;
    border-radius: 3vh;
    text-align: center;
}

.WeatherDay > h2 {
    color: silver;
    font-size: 2em;
}
.WeatherDay > img {
    height: 8vmin;
}

.WeatherDay > p {
    font-size: 1.5em;
    font-weight: 700;
}
.WeatherDay > p > span {
    color: blue;
}
